<div class="govuk-grid-column-two-thirds">
    <h1 id="help-section" class="govuk-heading-l">Help with answering the questions</h1>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {# Offences and Convictions #}
        {# {% if groupId === 'eb7b7324-f2a6-4902-91ef-709a8fab1f82' %} #}
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Total number of all sanctions for offences
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Count the total number of convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Total number of all sanctions for offences
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Count <strong>all</strong> violent convictions, conditional or absolute discharges, cautions, reprimands or final warnings. Include current offences.</p>
            <p class='govuk-body'>Appendix C within the RSR guidance contains a poster that practitioners use in order to determine whether offences are scored as ‘violent’. For example, drunkenness is a violent offence in this context.</p>
            <p class='govuk-body'>If a sanction includes both violent and nonviolent offences, it should be counted as violent, even if the primary offence is nonviolent. </p>
            <p class='govuk-body'>Count each court appearance for a violent offence as only one sanction, regardless of how many violent offences were involved.</p>
            <p class='govuk-body'>Please note: not all the offences in the guidance are, on first glance, violent in themselves. However, we have evidence from OASys Assessment data that the offences are either:</p>            
            <ul class="govuk-list govuk-list--bullet">
              <li>an offence that necessarily involves violence or violent intent</li>
              <li>tend to involve violence when they are actually used to charge someone – for instance people are rarely charged with being drunk in public unless there is an aggravating or public nuisance element to their behaviour</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Date of current conviction
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>If the individual pleads guilty, then the date of conviction is the date that they enter the guilty plea in court. If the date of conviction is not known, the date of the current sentence should be entered.</p>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Have they ever committed a sexual or sexually motivated offence?
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Answer <strong>yes</strong> if they have:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>any current or previous sanctions for a statutory sexual offence</li>
              <li>any current or previous sanctions for a sexually motivated nonsexual offence</li>
            </ul>
            <p class='govuk-body'>Include any offences considered to contain a sexual motivation e.g. theft of item(s) linked to a sexual fetish e.g. underwear, sexually motivated murder, or murder linked to a sexual offence which was not proceeded with in Court, or dropped due to plea bargaining.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Does the current offence have a sexual motivation?
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>These additional questions are designed to further understand the nature of the current and previous sanctions involving sexual or sexually motivated offences.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Does the current offence involve actual/attempted contact against a victim who was a stranger?
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>A victim counts as a stranger if either the victim did not know the offender 24 hours before the offence, or the offender did not know the victim 24 hours before the offence. Similarly, the same definition of ‘knowing’ should be used. ‘Knowing’ minimally involves having met, had a conversation with, and being able to recognise the other person. All three of these conditions must be met to classify as ‘knowing’. The exception to this is when two people have been communicating via a webcam/video-conferencing; in this situation, they may not have physically met, but could still be classed as ‘knowing’ each other.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Date of most recent sanction involving a sexual/sexually motivated offence
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p class='govuk-body'>Date of most recent sanction involving a sexual/sexually motivated offenceDate of most recent sanction involving a sexual/sexually motivated offence</p>
          </div>
        </div>
        {# {% endif %} #}
    </div>
</div>
