{% extends "common/templates/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "common/templates/components/question/macro.njk" import renderQuestion %}

{% block pageTitle %}
{{ pageTitle }}
{% endblock %}

{% block header %}
{% include "common/templates/partials/header.njk" %}
{% endblock %}

{% block content %}
<span class="govuk-caption-xl">Diversity information</span>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" action="{{ action }}">
            <input type="hidden" name="x-csrf-token" value="{{ csrfToken }}">
            {{ renderQuestion(questions['upw_cultural_religious_adjustment'], errors) }}

{#            {% for questionCode, questionSchema in questions %}#}
{#                {{ renderQuestion(questionSchema, errors) }}#}
{#            {% endfor %}#}

            {{ renderQuestion(questions['section-complete-cultural-and-religious-adjustments'], errors) }}

            <div class="questiongroup-action-buttons">
                {{ govukButton({
                    text: buttonText | default('Save and continue'),
                    classes: 'govuk-!-margin-bottom-3 govuk-!-margin-right-1'
                }) }}
            </div>
        </form>

    </div>
</div>
{% endblock %}
